# looping Statements

### While loop in Python
    + Intialization
    + Condition
    + Increment

In [2]:
i = 1 # Intialization
while i<=5: #Condition
    print("Hello", i)
    i = i+1
print("Good Bye")

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Good Bye

In [3]:
i =5
while i>=1:
    print("Hello", i)
    i = i-1

Hello 5
Hello 4
Hello 3
Hello 2
Hello 1

In [6]:
# Print Table of 12
n=12
i =1
while i<=10:
    print(n, "*",i,"=" ,n*i)
    i =i+1

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [7]:
# Print any number table
n=int(input("Enter any number:"))
i =1
while i<=10:
    print(n, "*",i,"=" ,n*i)
    i =i+1

Enter any number:55
55 * 1 = 55
55 * 2 = 110
55 * 3 = 165
55 * 4 = 220
55 * 5 = 275
55 * 6 = 330
55 * 7 = 385
55 * 8 = 440
55 * 9 = 495
55 * 10 = 550

## For Loop in Python
    + No Intialization
    + No Condition
    + No Increment

Print all values from a sequence (List, string, set, dict)

In [ ]:
# Syntax
for i in sequence:
    print(i)

In [9]:
# String
s="Python"
for i in s:
    print(i)

P
y
t
h
o
n

In [10]:
# List
li = ["Apple", "Grapes", "Kiwi"]
li

['Apple', 'Grapes', 'Kiwi']

In [12]:
for i in li:
    print(i, len(i))

Apple 5
Grapes 6
Kiwi 4

In [13]:
# Range function
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [15]:
for i in range(7, 14):
    print(i)

7
8
9
10
11
12
13

In [16]:
# If in for loop
for i in range(1, 12):
    if i %2==0:
        print(i)

2
4
6
8
10

In [17]:
# else in for loop
for i in range(2,12):
    print(i)
else: 
    print("Finished")

2
3
4
5
6
7
8
9
10
11
Finished

In [19]:
# If -else - Even/Odd
for num in range(2,12):
    if num%2==0:
        print("Even", num)
    else:
        print("Odd", num)

Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10
Odd 11

In [21]:
##
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

# Break Continue