In [2]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_excel("Begur_20220618.xlsx")

In [18]:
data.columns

Index(['Sl. No.', 'Timestamp', 'Your Name ?', 'Which class you are studying ?',
       'What is your Age', 'Gender',
       'Where do you stay (Your complete Address)',
       'Which centre you are associated with ? (Write your area name if you are not aware of centre name )',
       'Your Parents Name', 'Prakhanda', 'Khanda', 'Hall ticket',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [19]:
data.index

RangeIndex(start=0, stop=744, step=1)

In [21]:
data.describe

<bound method NDFrame.describe of      Sl. No.               Timestamp       Your Name ?  \
0        NaN 2022-03-17 23:52:02.427         Suraj Pai
1        NaN 2022-03-17 23:53:48.512     SAANVI SURESH
2        NaN 2022-03-18 06:49:07.872  Nivaan S Dandina
3        1.0 2022-03-18 22:28:01.955   SAAGARIKA G RAO
4        NaN 2022-03-18 08:10:43.933  Shrihari Sundar
..       ...                     ...               ...
739      NaN                     NaT               NaN
740      NaN                     NaT               NaN
741     27.0 2022-05-15 19:04:41.908   Rahul Sudarshan
742     28.0 2022-05-17 19:37:34.403    Sthuti Bharath
743     29.0 2022-04-08 22:04:23.172             Aadya

    Which class you are studying ? What is your Age          Gender  \
0                     9th standard         14 years   Kishore - Boy
1                                8               14  Kishori - Girl
2                             8th                13   Kishore - Boy
3                                9               13  Kishori - Girl
4                              9th               13   Kishore - Boy
..                             ...              ...             ...
739                            NaN              NaN             NaN
740                            NaN              NaN             NaN
741                             11               16   Kishore - Boy
742                              7               12  Kishori - Girl
743                             10               15  Kishori - Girl

             Where do you stay (Your complete Address)  \
0    F-2, 966, AKSHAYA ROYALE APARTMENTS, 14TH CROS...
1    #552, Aashirvad, 5th main, Balaji Layout, Byan...
2    #316, 1st floor, 3rd main road, 3rd phase JP N...
3    105, bidare residency, 1044, 4th cr, 12th main...
4    E2-501, white House apts, 15th cross, 2nd bloc...
..                                                 ...
739                                                NaN
740                                                NaN
741  157, 2nd main 4th cross, Royal Shelters, DC Ha...
742  91, Sowrabha, Ganga Jamuna Road, 4th Cross, Ak...
743  52, Chittara, 3rd Cross, Lakeview residency. K...

    Which centre you are associated with ? (Write your area name if you are not aware of centre name )  \
0                                            Jayanagar
1                            Sri Kumaran children home
2                                Kishore Bharathi Exam
3                                      Royal Shelters
4                                               Hebbal
..                                                 ...
739                                                NaN
740                                                NaN
741                                    Royal Shelters
742                                    Royal Shelters
743                                    Royal Shelters

                        Your Parents Name Prakhanda Khanda Hall ticket  \
0                              Shilpa Pai       JNR    NaN         NaN
1                                     NaN       JNR    NaN         NaN
2      Nivedita S Dandina & Sunil Dandina       JNR    NaN         NaN
3                           Gajendra rao         EC  Begur       EBR01
4                                Sundar k       MLP    NaN         NaN
..                                    ...       ...    ...         ...
739                                   NaN       NaN    NaN         NaN
740                                   NaN       NaN    NaN         NaN
741      Arathi Sudarshan and Sudarshan P        EC  Begur       EBR27
742  Bharath Kottadamane, Lakshmi Bharath        EC  Begur       EBR28
743                            Shrinivasa        EC  Begur       EBR29

    Unnamed: 12                             Unnamed: 13
0           NaN                                     NaN
1           NaN                                     NaN
2           NaN                                     NaN
3          paid                                     NaN
4           NaN                                     NaN
..          ...                                     ...
739         NaN                                     NaN
740         NaN                                     NaN
741        paid                                     NaN
742        paid  to Sharath Jee of LingaRajaPuramKhanda
743        paid                                     NaN

[744 rows x 14 columns]>

In [22]:
data.shape

(744, 14)

homework

- what is string
- what is number
- what is object