In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

# Series

In [2]:
li = [10,20,30]
li

[10, 20, 30]

In [3]:
s1 = pd.Series(li)

In [4]:
s1

0    10
1    20
2    30
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
i =['a','b','c']
s2= pd.Series(data =li, index = i)
s2

a    10
b    20
c    30
dtype: int64

In [13]:
s2= pd.Series( index = li,data =i)

In [14]:
s2

10    a
20    b
30    c
dtype: object

In [7]:
s2['a']

10

In [8]:
s2.sum()

60

In [23]:
s3 = pd.Series([1,2,3,7], index=['a','b','c','d'])

In [22]:
s3

a    1
b    2
c    3
d    7
dtype: int64

## Dataframe

In [24]:
df = pd.DataFrame(np.random.rand(3,5), index=['A','B','C'], columns=['price', 'volume', 'return rate','open', 'close'])
df

      price    volume  return rate      open     close
A  0.902004  0.994526     0.354263  0.335039  0.467469
B  0.810332  0.913292     0.694357  0.672529  0.393268
C  0.875507  0.984562     0.792923  0.865312  0.044882

In [25]:
type(df)

pandas.core.frame.DataFrame

In [27]:
np.random.rand(3,3)

array([[0.52124628, 0.16654255, 0.81295977],
       [0.15460515, 0.33675577, 0.95739092],
       [0.44946023, 0.38589095, 0.77167722]])

In [30]:
df[['price']]

      price
A  0.902004
B  0.810332
C  0.875507

In [29]:
type(df['price'])

pandas.core.series.Series